
AZURE_4O_ENDPOINT=
AZURE_4O_KEY=
AZURE_4O_NAME=
AZURE_4O_VERSION=

AZURE_35_ENDPOINT=
AZURE_35_KEY=
AZURE_35_NAME=
AZURE_35_VERSION=

AZURE_4O_MINI_ENDPOINT=
AZURE_4O_MINI_KEY=
AZURE_4O_MINI_NAME=
AZURE_4O_MINI_VERSION=

LANGFUSE_SECRET_KEY=
LANGFUSE_PUBLIC_KEY=
LANGFUSE_HOST=
